/* .left {
  margin-top: 100px;
} */

.subtitle {
  margin-bottom: 30px;
}

.login {
  margin-top: 20px;
}

.right {
  background-image: url(../images/webp/image69.webp);
  background-size: cover;
}

@media (max-width: 600px) {
  .left {
    margin-top: 30px;
  }
}
